body {
	background: url(https://previews.123rf.com/images/cosid/cosid1609/cosid160900050/64910458-modern-chess-board-pattern-background-light-grey-color-mosaic-pattern-Stock-Photo.jpg);
}

.wrap, header, footer {
	margin: 15px 15px 15px 15px;
}

header, .wrap, nav, main, footer {
	border: inherit;
	overflow: inherit;
}

main, nav {
	margin: 15px 10px 15px 10px;
	height: 400px;
}

.fullwrap {
	border: 1.5px solid black;
	overflow: hidden;
	background: white;
	width: 600px;
	margin: auto;
}

header {
	height: 100px;
	margin-bottom: 15px;
	
}

nav {
	float: left;
	width: 60%;
}

main {
	float: right;
	width: 30%;
}

footer {
	height: 150px;
}